.coursesItemsContainer {
   padding: 12px;
}

.coursesItemsList {
   list-style-type: none;
   padding: 0;
}

.loadMoreButton {
   text-align: center;
   height: 30px;
   width: 100%;
   outline: none;
   border-radius: 3px;
}

.noCoursesBlock {
   padding: 10px;
   display: flex;
   justify-content: center;
   border: 1px solid black;
   border-radius: 3px;
}
