.coursesItemsContainer {
   padding: 12px;
}

.coursesItemsList {
   list-style-type: none;
   padding: 0;
}

.loadMoreButton {
   text-align: center;
   height: 30px;
   width: 100%;
   outline: none;
   border-radius: 3px;
}
