<section>
   <form class="verticalAligned" [formGroup]="courseForm" (ngSubmit)="saveHandler()">
      <div class="verticalAligned" [ngClass]="{error: !!getFormFieldErrors('title', 'maxlength')}">
         <div class="errorText" *ngIf="!!getFormFieldErrors('title', 'maxlength')">Max length was exceeded!</div>
         <label for="title">Title:</label>
         <input id="title" name="title" formControlName="title"/>
      </div>
      <div class="verticalAligned" [ngClass]="{error: !!getFormFieldErrors('description', 'maxlength')}">
         <div class="errorText" *ngIf="!!getFormFieldErrors('description', 'maxlength')">Max length was exceeded!</div>
         <label for="description">Description</label>
         <textarea id="description" name="description" formControlName="description"></textarea>
      </div>
      <div class="verticalAligned" [ngClass]="{error: !!getFormFieldErrors('date', 'valid')}">
         <div class="errorText" *ngIf="!!getFormFieldErrors('date', 'valid')">Date must be dd.mm.yyyy format!</div>
         <app-date formControlName="date"></app-date>
      </div>
      <div class="verticalAligned" [ngClass]="{error: !!getFormFieldErrors('durationInMinutes', 'valid')}">
         <div class="errorText" *ngIf="!!getFormFieldErrors('durationInMinutes', 'valid')">Duration must be number!</div>
         <app-duration formControlName="durationInMinutes"></app-duration>
         <span class="durationHM">{{courseForm.controls.durationInMinutes.value ? (courseForm.controls.durationInMinutes.value | duration) : null}}</span>
      </div>
      <div class="verticalAligned" [ngClass]="{error: !!getFormFieldErrors('authors', 'valid')}">
         <div class="errorText" *ngIf="!!getFormFieldErrors('authors', 'valid')">Must be at least one author!</div>
         <app-authors formControlName="authors"></app-authors>
      </div>
      <div class="buttonsBlock">
         <button [disabled]="courseForm.invalid">save</button>
         <button type="button" (click)="cancelHandler()">cancel</button>
      </div>
   </form>
</section>
