.addCourseForm,
.titleBlock,
.descriptionBlock,
.dateBlock,
.durationBlock,
.auhtorsBlock {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.buttonsBlock {
   display: flex;
   justify-content: space-around;
   width: 140px;
   margin-top: 10px;
}

.error {
   border: 1px solid red;
   border-radius: 2px;
}

.errorText {
   color: red;
}
