.header {
   display: flex;
   justify-content: space-between;
   height: auto;
   padding: 12px;
   border-bottom: 1px solid black;
}

.logoutButton {
   height: 30px;
   border-radius: 3px;
   outline: none;
}

.usernameText {
   margin-right: 20px;
}
