.authorTag {
   border: 1px solid black;
   border-radius: 4px;
   margin: 2px;
}

.authorsTagsContainer {
   display: flex;
   flex-wrap: wrap;
   width: 140px;
   list-style-type: none;
}

.authorsContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.cross {
   cursor: pointer;
   width: 10px;
}
