.courseItem {
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
   border-radius: 3px;
   margin: 10px 0;
   padding: 10px;
}

.mainBlock {
   margin-right: 30px;
}

.buttonsBlock {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

}

.metaDataBlock {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}

.durationItem {
   margin-right: 10px;
}

.descriptionItem {

}

.buttonItem {
   height: 30px;
   outline: none;
   border-radius: 3px;
   margin-bottom: 8px;
}

.topRatedIcon {
   width: 18px;
}

.courseItemTopRated {
   background-color: yellow;
}
