<section class="coursesItemsContainer">
   <ul *ngIf="courseItems.length; else noData" class="coursesItemsList" >
      <li *ngFor="let courseItem of courseItems | orderBy">
         <app-cource-item [deleteHandler]="handleDeleteItem" [navigateToCourse]="navigateToCourse" [item]="courseItem"></app-cource-item>
      </li>
      <button class="loadMoreButton" (click)="loadMoreHandler()">Load more</button>
   </ul>
   <ng-template #noData>
      <div class="noCoursesBlock">
         No data. Feel free to add new course
      </div>
   </ng-template>
</section>
