<article appCourceDateIndicator [ngClass]="{courseItem: true, courseItemTopRated: item.Rating == 'TopRated'}">
   <div class="mainBlock">
      <div class="metaDataBlock">
         <div>
            {{item.Title | uppercase}}
            <img *ngIf="item.Rating === 'TopRated'" class="topRatedIcon" src="assets/star.png"/></div>
         <div>
            <span class="durationItem">{{item.Duration | duration}}</span>
            <span class="dateItem">{{item.CreationDate | date}}</span>
         </div>
      </div>
      <div class="descriptionItem">{{item.Description}}</div>
   </div>
   <div class="buttonsBlock">
      <button class="buttonItem" (click)="editHandler()">Edit</button>
      <button class="buttonItem buttonDelete" (click)="deleteHandler({itemId: item.Id, itemTitle: item.Title})">Delete</button>
   </div>
</article>
