.breadcrumbs {
   display: flex;
   align-items: center;
   padding: 12px
   height: 30px;
   border-bottom: 1px solid black;
}

a:visited {
   color: black;
}

.activeMainBreadcrumb {
   color: green !important;
}

a {
   text-decoration: none;
}
