.navContainer {
   display: flex;
   justify-content: space-between;
   padding: 12px;
}

.searchCourseInput {
   outline: none;
   padding: 0 6px;
   height: 26px;
   width: 250px;
   border-radius: 3px;
   margin-right: 20px;
}

.addCourseButton, .searchCourseButton {
   height: 30px;
   border-radius: 3px;
   outline: none;
}
